*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: block;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between ;
  margin: 0.1;
  border: 0.2 solid rgb(77, 73, 73);
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav-items > ul{
  display: flex;
  justify-content: space-evenly;
  margin-top: 0..1rem;
  
}
.nav-items > ul > li {
  padding: 10px;
}

.nav-items > ul > li {
  cursor: pointer;
  padding: 0.2rem;
  margin: 0.2rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  gap: 0.1rem;
}

.search-container input {
  min-width: 250px;
  padding: 10px;
}

.search-container input:focus {
  outline: 0;
}

.search-container button {
  padding: 10px 15px;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 8px;
  margin: 0 50px;
}

.res-card {
  display: inline;
  justify-content:left;
  width: 18rem;
  border: 0.1rem solid rgb(136, 117, 117);
  padding: 0.3rem;
  margin: 0.1rem;
  
  
}

.res-card:hover {
  border: 1px solid black;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.footer {
  padding: 20px 10px;
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.filter-btn{
  margin: 15px;
  cursor: pointer;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  width: 15rem;
  height: 15rem;
  border: 2px solid rgb(109, 107, 107);
  padding: 10px;
  margin: 10px;
  background-color:#ffffff;
}

.login{
  padding:0 1rem;;
  cursor: pointer;
  margin: 0.5rem;
}

.filter{
  display: flex;
}